
html {
    height: 100%;
}

body {
    position: relative;
    background-color: #1c351f;
    margin: 0;
    height: 100%;
    color: navajowhite;
    font-family: "Times New Roman", sans-serif;
    font-size: 32px;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;

    background-image: url("santa.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 30%;
}

.passwordContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#password {
    height: 32px;
}

input, button {
    font-size: 20px; font-family: "Times New Roman", sans-serif;
}

.hint {
    width: 500px;
}
